@using System.Security.Claims
@{
    ViewData["Title"] = "Borrowing Management";
    ViewData["SubTitle"] = "List of Borrowings";
    ViewData["BM"] = "active";

    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var incomplete = "text-primary";
    var completed = "text-primary";
    var cancelled = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "pending":
            pending = "active text-white bg-primary";
            break;
        case "incomplete":
            incomplete = "active text-white bg-primary";
            break;
        case "completed":
            completed = "active text-white bg-primary";
            break;
        case "cancelled":
            cancelled = "active text-white bg-primary";
            break;
        default:
            all = "active text-white bg-primary";
            break;
    }
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary bg-gradient ms-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Borrowing List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="d-flex justify-content-between pb-3 pt-2">
            <span></span>
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item @pending">
                    <a class="@pending" style="text-decoration:none;" asp-controller="Borrowing" asp-action="Index"
                       asp-route-status="pending">Pending</a>
                </li>
                <li class="list-group-item @incomplete">
                    <a class="@incomplete" style="text-decoration:none;" asp-controller="Borrowing" asp-action="Index"
                       asp-route-status="incomplete">Incomplete</a>
                </li>
                <li class="list-group-item @completed">
                    <a class="@completed" style="text-decoration:none;" asp-controller="Borrowing" asp-action="Index"
                       asp-route-status="completed">Completed</a>
                </li>
                <li class="list-group-item @cancelled">
                    <a class="@cancelled" style="text-decoration:none;" asp-controller="Borrowing" asp-action="Index"
                       asp-route-status="cancelled">Cancelled</a>
                </li>
                <li class="list-group-item @all">
                    <a class="@all" style="text-decoration:none;" asp-controller="Borrowing" asp-action="Index"
                       asp-route-status="all">All</a>
                </li>
            </ul>
        </div>
        <div class="table-responsive">
            <table id="borrowing-table" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Borrowed Time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var userId = '@User.FindFirstValue(ClaimTypes.NameIdentifier)';
    </script>
    <script type="module" src="~/js/member/borrowing/list.js"></script>
}
