@model FA.LibraryManagement.Common.ViewModels.CartListVM

@{
    ViewData["Title"] = "Borrowing";
}

<form asp-action="Summary" method="post">
    <br />
    <div class="container">
        <div class="card shadow border-0">

            <div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
                <div class="row px-4">
                    <div class="col-6">
                        <h5 class="pt-2 text-white">
                            @ViewData["Title"]
                        </h5>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" class="btn btn-warning btn-sm">Back to Cart</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <img src="~/static/images/samples/bg-mountain.jpg" alt="borrow" class="img-fluid" />
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Borrowing Summary:</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var item in Model.Carts)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@item.BookVM.Title</h6>
                                            <small class="text-muted">By @string.Join(", ", item.BookVM.AuthorNames)</small>
                                        </div>
                                    </li>
                                }

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Total (Book)</small>
                                    <strong class="text-info">@Model.Carts.Count()</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p style="color:maroon; font-size:14px;">
                            Time: @DateTime.Now
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <button type="submit" class="btn btn-secondary w-100">Borrow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>